@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

/* Enable smooth scrolling and hide scrollbars for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}